header {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif #4aaaa5;
    font-size: larger;
}
footer {
    background-color: #666666;
}