header {
    background-color: #ffffff;
    border-bottom: solid #cccccc;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: larger;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    color: #4aaaa5;
}

div {
    background-color: #ffffff;
    
}

#name {
    background-color: darkcyan;
    color: #ffffff;
    width: 50px;
    border: 15px;
    padding: 50px;
    margin: 20px;
}
body {
        background-color: lightgrey;
        width: 960px;
        border: 15px solid green;
        padding: 50px;
        
}
#link {
    width: 960px;
    position: fixed;
    text-align: right;
}
footer {
    background-color: #666666;
    border-top: solid blue;
    border-width: large;
    color: #ffffff;
    text-align: center;
    position: absolute; 
    left: 0;
    bottom: 0;
    width: 100%;
}